body
{
    background-color: #d4d2a1;
}


div.header
{
    background-color: #f5e6e6;
}
div.person_info
{
    float: left;
}

div.day-box.PREP
{
    border: solid;
}
div.day-box.COMPLETED
{
    border: solid;
}
div.day-box.CURRENT
{
    border: solid;
}

