body
{
    background-color: #d4d2a1;
}
div.header
{
    background-color: #f5e6e6;
}
div.person_info
{
  width: 200px;
  height: 175px;
  font-size: larger;
 
}
img.person_image
{

  clear: both;
    height: 150px;
    width: 150px;
}
div.day-box.PREP
{
    border: solid;
    border-bottom: none;
}
div.day-box.COMPLETED
{
    border: solid;
    border-bottom: none;
}
div.day-box.CURRENT
{
    border: solid;
    border-bottom: none;
}
table
{
    width: 600px;
    background-color: #f5e6e6;
    border-spacing: 10px 10px;
}
div.title
{
    font-size: x-large;
    text-transform: uppercase;
}
form.account_form
{
        background-color: burlywood;
    font-style: oblique;
}
label
{ float: left;
    clear: both;
}

input
{ float: left;
  clear: both;
}
form.account_form img.person_image
 {
   float: left;
  }
 

