body
{
    background-color: #d4d2a1;
}


div.header
{
    background-color: #f5e6e6;
}
img.person_image
{

   float: left;
    height: 150px;
    width: 150px;
}

div.day-box.PREP
{
    border: solid;
}
div.day-box.COMPLETED
{
    border: solid;
}
div.day-box.CURRENT
{
    border: solid;
}
table
{
    width: 600px;
    background-color: #f5e6e6;
    border-spacing: 10px 10px;

}

    

