body
{
    background-image: url("tree.jpg");
}
div.person_info span.username
{
  background-color: aliceblue ;

}
div.header div.person_info span.username
{
  background-color: aliceblue;
border: solid;
}

rect
{ fill: aliceblue;
}

h1
{ border: solid;
   background-color: aliceblue;
   width: 160px;
}
div.header div.nav
{border: solid;
    font-size:x-large;
    margin:auto;

  background-color: aliceblue;
  width: fit-content;
}
div.person_info
{
  width: 200px;
  height: 175px;
  font-size: larger;
}
img.person_image
{

  clear: both;
    height: 150px;
    width: 150px;
}
div.day-box.PREP
{
    border: solid;
    border-bottom: none;
    background-color: aliceblue;
}
div.day-box.COMPLETED
{
    border: solid;
    border-bottom: none;
    background-color: aliceblue;
}
div.day-box COMPLETED div.day
{
    border-bottom: solid;
    background-color: aliceblue;
}
div.day-box.CURRENT
{
    border: solid;
    border-bottom: none;
    background-color: aliceblue;
}
table
{ background-color: aliceblue;
    width: 600px;
   border: solid;
    border-spacing: 10px 10px;

}
div.title
{
    font-size: x-large;
    text-transform: uppercase;
    background-color: aliceblue;
    width: 300px;
}
form.account_form
{
       
    font-style: oblique;
}
form.account_form label
{ float: left;
    clear: both;
    background-color: aliceblue;
    border: solid;
    border-width:thin;
}
form.account_form input
{ float: left;
  clear: both;
}
form.account_form img.person_image
 {
   float: left;
  }
 
 div.grade
 { border: solid;
   background-color: aliceblue;
   width: 35px;
 }
 h3
 { border: solid;
   background-color: aliceblue;
   width: 41px;
 }
